body {
	width: 1000px;
	margin: 50px auto;
}

/*.photos{overflow:hidden;margin:4px 17px 0 18px}*/
.photos .item {
	float:left;
	position:relative;
	display:none;
	margin:5px;
	box-sizing:content-box;
	overflow:hidden
}

.photos .item img{
	display:block;
	width:100%;
	height:auto
}